.ant-card-head{
    width: auto;
    border: 1px solid #9A9797AD;
}

.ant-card-body {
    width: auto;
    border: 1px solid #9A9797AD;
}

p {
    font-family: "JetBrains Mono", serif;
    font-size: 18px;
}