.ant-carousel {
    width: 50%;
    border: 4px solid gray;
    border-radius: 50px;
}

.container {
    display: flex !important;
    justify-content: center;
    align-content: center;;
}

.container > img {
    width: 30%;
    height: auto;
    margin-bottom: 15px;
}

.carousel-text-bottom {
    font-family: "JetBrains Mono", serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;

}

.carousel-text-top {
    font-family: "JetBrains Mono", serif;
    font-size: 25px;
    text-align: center;
    margin-top: 15px;

}

.ant-carousel .slick-dots li button {
    background: #7a7070 !important;
    color: black;
}
