.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgb(220, 220, 220);
    text-align: center;
}

.footerText {
    color: rgb(63, 61, 61);
    font-family: "JetBrains Mono", serif;
}
