.ant-page-header-heading-title {
    font-family: "JetBrains Mono", serif;
    font-size: 28px;
    padding-left: 25px;
    padding-top: 10px;
}

.ant-btn-primary {
    font-family: "JetBrains Mono", serif;
    font-size: 15px;
    height: 43px;
}

.ant-space-item {
    padding-right: 15px;
}

a.ant-btn {
    line-height: 40px;
}

.ant-divider-horizontal {
    margin: 0 0 0;
}